.login_bg{
    width:600px;
    margin:0 auto;
    height:100vh;
    text-align: center;
    opacity: 0.9;
    padding-bottom:0.1rem;
    position:relative;
    background: #e0ebf4;
    border:1px solid #fff;
}


@media screen and (max-width:600px){
    .login_bg {
        width: 100%;
        min-height: 100vh;
        text-align: center;
        opacity: 0.9;
        position:relative;
        border:1px solid #fff;
    }

    #login{
        width: 100vw;
        min-height: 100vh;
        position: absolute;
        background: url("../images/bj.png") no-repeat;
        background-size: 100%;
        top: 0;
        left: 0;
        opacity: 0.35;
    }

}



#logo{
    margin: 9% auto;
    width: 30.25%;
}
img{
    width: 100%;
}
form{
    width: 80%;
    margin: 0 auto;
    text-align: left;
}
form div.userName,form div.passWord{
    border: 1px solid #c1c1c1;
    padding:3.5% 0 4% 3%;
    height: 22%;
    background: #ffffff;
}
form div.userName{
    border-bottom:0;
    border-top-left-radius: 0.45em;
    border-top-right-radius: 0.45em;
}
form div.passWord{
    border-bottom-left-radius: 0.45em;
    border-bottom-right-radius: 0.45em;
}
form div.userName input,form div.passWord input{
    width: 68%;
    height: 80%;
    border:none;
    background: transparent;
    font-size: 1em;
    font-family: "Microsoft YaHei";
    color: #b3b3b3;
    letter-spacing: 1px;
    padding-left: 2px;
}
.choose_box{
    height: 4.5em;
    line-height: 4.5em;
    padding: 0 5px;
}
.choose_box div{
    float: left;
}
.choose_box a{
    float: right;
}
.login_btn{
    width: 100%;
    display: block;
    padding:3% 0 ;
    background: #ffffff;
    border: 0;
    font-size: 1em;
    font-family: "Microsoft YaHei";
    color:#374782;
    box-shadow: #8f9bad 0px 0px 20px;
    text-align: center;
}
.other_login{
    width: 80%;
    height: 15px;
    margin: 30px 10%;
}
.other_login .other,.other_login span{
    display: inline-block;
    vertical-align: middle;
}
.other_login .other{
    width: 28%;
    height: 8px;
    border-bottom:1px solid #2f2c59;
}
.other_login span{
    width:40%;
}
.other_choose{
    width: 74%;
    margin: 0 13%;
}
.login_bg .other_choose a{
    display: block;
    float: left;
    border: 2px solid #505887;
    border-radius: 50%;
    position: absolute;
}
.other_choose a:nth-child(2) {
    left:42%;
}
.other_choose a:nth-child(3) {
    left:80%;
}
.other_choose a img{
    width: 60%;
    padding: 14% 0;
}
