
img{border:none;display:block;}

html{font-size:204.8px;}
.mainPage{
    width:750px;
    height:100%;
    margin:0 auto;
    position:relative;
}

@media screen and (max-width:750px){
    html{
        /*给其27vw*/
        font-size:27vw;
    }
    .mainPage{
        min-width:320px;
        width:100%;
        box-sizing: border-box;
    }
}

.mainPage .header{
    width:100%;
    height: 1rem;
    background: linear-gradient(176deg, rgb(76, 126, 255) 0%, rgb(100, 174, 252) 100%) 0% 0% / 100%;
}

/*首页的内边距*/
.mainPage .header .top{
    width:100%;
    display:flex;
    padding-left:.1rem;
    padding-top:.12rem;
    box-sizing: border-box;
}

.mainPage .header .top .logo{
    width:80%;
}
.mainPage .header .top .logo img{
    height: 0.26rem;
    width: 0.9rem;
}

.mainPage .header .top .login{
    width:10%;
}

.mainPage .header .top .login img{
    height: 0.26rem;
    width: 0.26rem;
}

.mainPage .header .top .sort{
    width:10%;
}

.mainPage .header .top .sort img{
    height: 0.26rem;
    width: 0.26rem;
}

.mainPage .header div{
    width:100%;
}

.mainPage .header .tabs{
    width:100%;
    display:flex;
}

.mainPage .header .tabs li{
    font-size: 0.18rem;
    color:#fff;
    height: 0.28rem;
    line-height: 0.28rem;
    padding-top: 0.09rem;
    padding-left:0.39rem;
    flex-grow: 1;
    box-sizing: content-box;
    opacity: 0.85;
    position: relative;
}
.mainPage .header .tabs li a {
    color: #fff;
}
.mainPage .header .tabs li.on::after{
    content: "";
    display: block;
    width: 0.18rem;
    height: 0.03rem;
    background: rgb(103, 245, 255);
    margin-left:0.08rem;
}

.container{
    width:100%;
}

.container .content{
    width:100%;
    margin-top:10px;
    padding: 0.12rem 0.12rem 0px 0.12rem;
    box-sizing: border-box;
    box-shadow: 0 0 1px #ccc;
}

.container .content li{
    width:100%;
    position:relative;
    margin-top:0.1rem;
    border-bottom:1px solid #ccc;

}

.container .content li .img{

}
.container .content li .img img{
    display: block;
    width: 100%;
    border-radius:0.05rem;
    background-color: rgb(255, 255, 255);
}

.container .content li .dv-title{
    position:absolute;
    left:0.1rem;
    top:0.05rem;
}
.container .content li .dv-title>p{
    font-size: 0.17rem;
    line-height: 0.24rem;
    font-weight: 400;
    color: #fff;
    word-break: break-all;
    overflow: hidden;
}
.container .content li .play{
    width:0.3rem;
    height:0.3rem;
    position:absolute;
    left:47%;
    top:1.2rem;
    z-index:2;
}
.container .content li .play>img{
    display:block;
}
.container .content li .video-info{
    position:absolute;
    right: 0.09rem;
    bottom: 0.55rem;
    font-size: 0.12rem;
    color: rgb(255, 255, 255);
    height: 0.18rem;
    line-height: 0.18rem;
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%;
    padding: 0px 0.1rem;
    border-radius: 0.09rem;
}
.container .content li .video-info>.views{}
.container .content li .video-info>.date{}
.container .content li .root{
    height: 0.24rem;
    margin-top: 0.09rem;
    margin-bottom:0.09rem;
    display:flex;
}

.container .content li .root a{
    font-size:0.14rem;
    text-decoration: none;
    border:none;
}
.container .content li .root a>img{
    margin-right: 0.06rem;
    width: 0.24rem;
    height: 0.24rem;
    border-radius: 50%;
}
.container .content li .root a>span{
    color:#000;
    font-size:0.14rem;
    line-height:0.24rem;
}
.container .content li .root .categories{
    margin-left:0.15rem;
}
.container .content li .root .categories>a{
    font-size:0.12rem;
    padding: 0px 0.09rem;
    height: 0.18rem;
    background: rgb(237, 242, 250) none repeat scroll 0% 0%;
    border-radius: 0.1rem;
    color: rgb(130, 140, 155);
    line-height: 0.18rem;
    margin-right: 0.09rem;
    text-align: center;
    margin-top:0.04rem;
}

.container .content a{
    display:flex;
    border-bottom:1px solid #ccc;
}



.container .content .info{
    margin-right:0.1rem;
    width: 60%;
}

.container .content .info p {
    font-size: 0.17rem;
    line-height: 0.24rem;
    font-weight: 400;
    color: rgb(34, 34, 34);
    overflow: hidden;
    word-break:break-all;
}
.container .content .info .root-sec {
    line-height: 0.16rem;
    margin-bottom:0.1rem;
    display:flex;
    margin-top:0.1rem;
}

.container .content .info .root-sec span {
    display: inline-block;
    font-size: 0.12rem;
    font-weight: 400;
    color: rgb(130, 140, 155);
    line-height: 0.16rem;
    height: 0.16rem;
    margin-right:0.08rem;
}


.container .content .image{
    flex-grow:1;
    overflow: hidden;
    border-radius: 0.03rem;
    margin-bottom:0.1rem;
}

.container .content img{
    width: 100%;
}

.container .content .fresh{
    width:100%;
    height:0.50rem;
    margin-top:0.12rem;
    display:flex;
    padding-left:.4rem;
    box-sizing: border-box;
    margin-bottom:0.2rem;
    cursor:pointer;
}

.container .content .fresh .pre{
    font-size: .12rem;
    line-height: .24rem;
    font-weight: 400;
    color:#fff;
    width:.58rem;
    height:.24rem;
    background-color:#c00;
    margin-right:1.5rem;
    border-radius:.2rem;
    cursor:pointer;
    text-align:center;
}

.container .content .fresh .next{
    font-size: .12rem;
    line-height: .24rem;
    font-weight: 400;
    color:#fff;
    width:.58rem;
    height:.24rem;
    background-color:#c00;
    border-radius:.2rem;
    cursor:pointer;
}
